.maingraph{
    width:70%;
    height:40vh;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    padding:10px;
}
.leftgraph{
    height:100%;
    width:60%;
    border-radius:10px;
    border:1px solid red;

}
.rightgraph{
    height:100%;
    width:30%;
    border-radius:10px;
    border:1px solid green;

}