*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.navContainer{
    width:20%;
    min-height:100vh;
    background-color: rgb(6, 6, 39);
    color:white;
    display:flex;
    flex-direction:column;
    padding:5px 10px;
    justify-content:space-between;
}
h3 img{
    color:white;
    width:20px;
}

